@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background: #fff;
  --foreground: #000;
  --primary-yellow: #fec87f;
  --primary-orange: #f58d83;
  --primary-teal: #78cdd1;
  --primary-blue: #007084;
  --primary-dark-gray: #231f20
  --primary-pink: #EF4680;
    font-family: Arial, Helvetica, sans-serif;
}

/* .homeBackground {
  background-image: url("/public/background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size:contain 250px;
} */

/* styles.css or your global CSS file */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
